<!DOCTYPE html>
<html>
  <head>
    <title>Documents/books</title>
    <style>
html{
  background-color:#f4f4f4;
}
a{
  color:#373737;
  text-decoration:none;
}
table, th, td {
  border: 1px solid black;
  width: 50%;
  margin: 0;
  padding: 0;
  width: 100vw;
}
    </style>
  </head>
  <body>
    <h1>
      Results for {{ search }}
    </h1>
    <table id="results"> 
      <tbody>
        <th>title</th><th>author</th><th>isbn</th><th>Publisher</th><th>Publish Date</th>
        {% for i in books %}
        <tr>
          <td>
            {{ i['title'] }}
          </td>
          <td>
            {{ i['author'] }}
          </td>
          <td>
            {{ i['isbn'] }}
          </td>
          <td>
            {{ i['publisher'] }}
          </td>
          <td>
            {{ i['publishDate'] }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
