hr {
    display: block;
    border-style: double;
    border-width: thin;
    color: #A67B5B;
    width: 20%;
    margin-bottom: 5em;
    margin-left: 0;
}

body {
	font-family: arial, helvetica, sans-serif;
	font-size:14px;
	color: black;
	/*background-color: #f3ffec;*/
	/*background-color: #f7ffed*/
    background-color: aqua;
	margin: 40px;
	padding: 0;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  
  top: 20;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
    left: 0;
	background-color: #f4f7ff;

}

.right {
	right: 0;
	background-color: #f4f7ff;
}

/* If you want the content inside each split screen to be centered, both horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.leftFocus {
  position: absolute;
  left: 20%;
  margin-right: 40px;
  top: 15%;
  text-align: left;
}

.button {
    background-color: floralwhite;
    color: cadetblue;
    border: none;
}

p {
	line-height: 21px;
}

h1 {
	
}

h2 {
	
}

a {
	text-decoration: none;
}

li {
	color: #900;
	font-style: italic;
}

table {
	background-color: #f4f4f4;
}
